[2018-04-06 09:58] alexellis opened #9 "Create an issue / PR template that makes sense for documentation"
This should loosely model the templates used for the "faas" repo but have specific questions / prompts which relate to adding documentation.

Checkpoints may include:

* [ ] I have tested the markdown appearance with Docker
* [ ] I have tested any new instructions
* [ ] I am the author or have permission to share this text and reference the source

[2018-04-07 09:16] rgee0 opened #10 "Docs show secrets containing underscores"
https://github.com/openfaas/docs/blob/master/docs/reference/secrets.md shows secrets being created with identifiers containing underscores.  Should these be changed to hyphens to satisfy k8s DNS-1123 constraint?

[code]
Using the command show on the docs page:

[code]

[2018-04-07 09:31] alexellis commented on #10
I asked if it had been tested before merging. Seems like maybe not well enough. Thanks for logging this Richard. Let’s get his fixed.

[2018-04-08 22:26] alexellis commented on #9
We don’t produce a product - OpenFaaS is an open source project.

Good discussion.. anything from @rgee0 ?

[2018-04-08 22:26] #10 closed

[2018-04-08 22:34] alexellis opened #12 "Produce yams reference guide"
All the valid options for the yaml stack format should be documented here.

Look to the CLI readme file for the basis of this information filling in any gaps around constraints and limits etc.

Keep this succinct but accurate then remove the content from the CLI readme.

[2018-04-09 17:08] rgee0 commented on #9
Is the documentation covering a new feature - please reference.  We should be able to track docs against features & don't want to be merging out of order.

Who from the community "peer reviewed/tested".  Could be done by GH review but I think theres a stage prior to that.  If a 3rd party hasn't been able to follow what's been written then it cant be evidenced that its ready for PR.

[2018-04-20 13:10] milsonian opened #14 "Document how to use image pull policy for faas-netes"
This still needs to be done, opening so I don't lose track of it.

[2018-04-24 06:30] lduivenbode opened #16 "Link to Docker Swarm deployment guide is broken in "Deployment" page"
Links to `/deployment/swarm/` instead of `/deployment/docker-swarm/`.

[2018-04-24 09:12] #16 closed

[2018-05-17 09:26] alexellis opened #21 "Fix markdown indentation for Get up to speed"
The indentation for Golang is not showing up.

Needs testing locally with instructions on this README file before pushing a change.

[2018-05-25 12:42] kenfdev opened #22 "Add documentation on how to deal with CORS and local development"
Regarding to [this issue](https://github.com/openfaas/faas/issues/230#issuecomment-391626482), and talking with Alex, we could add documentation about how to deal with CORS when developing locally on SPAs (Single Page Applications).

* Explain CORS and why it may come up as a problem during local dev or production
* Explain about adding a proxy in front to make the caller think he's requesting the

[2018-05-25 12:44] kenfdev commented on #22
Derek assign: me

[2018-05-31 18:20] Lewiscowles1986 opened #26 "Add contribute to docs link"
Currently searching for a way to add a link to contribute to documentation to each page. It makes it easier to contribute documentation. Worst case can Derek check for text verbatim in all files in a PR?

[2018-05-31 18:27] Lewiscowles1986 commented on #26
Jekyll has "Improve this page". maybe cheesy, but I like it

https://github.com/jekyll/jekyll/blob/master/docs/_layouts/docs.html#L12,L14

[2018-06-07 06:44] #26 closed

[2018-06-16 23:39] alexellis commented on #14
Thanks @milsonian - this is 2 months old now, please can you give an ETA on when you can work on it?

[2018-06-16 23:39] alexellis commented on #21
@iyovcheva this is over 1 month old please review.

[2018-06-16 23:43] #22 closed

[2018-06-16 23:43] alexellis commented on #22
🎉 merged

[2018-06-18 07:27] #21 closed

[2018-06-22 20:20] rgee0 opened #36 "Swarm deployment guide - questionable ordering"
[Here](https://github.com/openfaas/docs/blob/master/docs/deployment/docker-swarm.md) it is suggested that the user should deploy the stack and then run in the sample functions using the CLI using `faas deploy`.  It then explains that within a few seconds (or minutes depending upon connection speed) the user will be able to hit the UI.

Suggestion is that deploying sample functions should not be at

[2018-06-22 21:30] #36 closed

[2018-06-23 15:36] alexellis opened #38 "Document --filter and --parallel for build and push"
The new build docs page in #32 is very sparse, it should cover some of the advanced feature of the `build` command such as `--filter` and `--parallel` - these are essential for working with larger stacks.

[2018-07-09 19:41] rgee0 opened #44 "Copy function on the docs site code boxes includes $ character"
The button to copy from code blocks on the docs pages also copies the $ symbol.

Should the $ suffix be dropped now that the .md files are generating the docs site?
Does the docs generation process make it possible to strip the leading $?

[2018-07-09 21:17] alexellis commented on #44
The $ symbol is there to show the difference between a command to be typed in and output from said command(s). You'll see similar in the Docker docs. I don't know if their copy button strips the $ character?

Alex

[2018-07-09 21:37] rgee0 commented on #44
I understand why its there, it does render the copy button somewhat pointless, however.  As do the code blocks with both the command to be entered and the expected response - the whole lot gets copied.

Im not sure Docker offer a copy button on their code blocks.

[2018-07-22 19:11] rgee0 commented on #38
Derek assign: me

[2018-07-22 21:34] alexellis commented on #38
Just sent a new invitation, please join again and thanks for picking this task up.

[2018-07-23 06:29] rgee0 commented on #38
Derek assign: me

[2018-07-24 00:45] ericstoekl commented on #38
Document `--regex` while you're at it?

[2018-07-24 21:30] alexellis opened #49 "Document --tag flag and how it works"
Find a place in the CLI docs to document how the --tag flag works.

Remember this covers build/push and deploy - do we really want to duplicate the text in each part - or could it be a sub-page of the CLI heading?

https://github.com/openfaas/faas-cli/pull/465

[2018-07-24 21:31] alexellis commented on #49
@mrtind do you want to take a shot at this? We can review the wording and guide some guidance after the technical parts are in? You'll find instructions in the README for how to test locally.

[2018-07-25 07:13] mrtind commented on #49
Yeah I'm on it.

[2018-07-25 11:00] #49 closed

[2018-07-25 11:02] alexellis commented on #38
Thanks for taking this Richard. Maybe add it to Trello to show work-in-progress?

[2018-07-25 11:02] alexellis commented on #14
@LucasRoesler maybe it would be best if you took over this task which appears to have been dropped?

[2018-07-25 11:12] LucasRoesler commented on #14
Sure, is this just updating the docs or a readme?  Not a lot of details here

[2018-07-25 11:12] alexellis commented on #14
Docs I think 👍

[2018-08-07 08:16] alexellis opened #54 "Document "annotations" YAML option"
Annotations act just like labels, but allow a broader range of values in the value field when using Kubernetes. Kubernetes also uses annotations for other purposes.

Users are not aware that the feature is available - https://github.com/openfaas/faas/issues/803

@ewilde please could you document this new flag in the YAML reference section?

Thanks

[2018-08-07 09:36] ivanayov commented on #54
+1 for this

I noticed that annotations are supported by the CLI, but we don't provide a flag for them.
Should we add the flag to `faas deploy`? This would allow applying them to functions, deployed from the store, which cannot be done at the moment.

[2018-08-07 09:37] ivanayov commented on #54
Derek add label: area/docs

[2018-08-27 14:16] kenfdev opened #60 "Logos not aligned well on mobile view"
As mentioned [here](https://github.com/openfaas/docs/pull/59#issuecomment-415686840), the logos aren't aligned well when viewed on mobile.

<img width="184" alt="ss 2018-08-27 23 11 12" src="https://user-images.githubusercontent.com/3941889/44664760-19fdc580-aa4f-11e8-9c52-20290e041a03.png">

Perhaps it would look better if we center align it.

[2018-08-27 14:25] kenfdev commented on #60
Derek assign: me

[2018-08-27 17:38] #60 closed

[2018-09-13 08:31] #14 closed

[2018-09-18 13:30] bartsmykla opened #73 "Include interesting repositories from OpenFaaS-Incubator in Get Started page"
We want to include the most interesting repositories from OpenFaas Incubator in [Get started](https://docs.openfaas.com/contributing/get-started/) as a table with link and short description (like currently [OpenFaas](https://docs.openfaas.com/contributing/get-started/#openfaas)).

At the beginning I suggest to put there: [of-watchdog](https://github.com/openfaas-incubator/of-watchdog) and [faas-id

[2018-09-26 20:34] rgee0 opened #76 "Lower camel case secret name causes error"
This section:

https://github.com/openfaas/docs/blob/master/docs/deployment/kubernetes.md#link-the-image-pull-secret-to-a-namespace-service-account

Suggests the secret name to be used should be `myPrivateRepo`.  This causes the following error:

_The Secret "myPrivateRepo" is invalid: metadata.name: Invalid value: "myPrivateRepo": a DNS-1123 subdomain must consist of lower case alphanumeric chara

[2018-09-26 20:37] alexellis commented on #76
Sounds good to me. Any references in the FaaS repo?

[2018-09-26 20:41] rgee0 commented on #76
Not obvious from a search.  Found this one linked from the OFC repo.

+1 for linking where possible

[2018-09-26 21:04] rgee0 commented on #38
Adding `--sign` and `--key` from openfaas/faas-cli#530 to the scope for this

[2018-09-27 12:09] #76 closed

[2018-10-02 08:31] alexellis commented on #73
Missed a key one! The Operator.. @stefanprodan I've added this now.

@openfaas/faas-team any others we are missing but need?

[2018-10-04 14:04] ivanayov commented on #73
+1 for this
People asked if OpenFaaS can be integrated with Kafka, so I’d suggest including the kafka-connector as well.

[2018-10-07 08:06] alexellis commented on #73
Kafka is already mentioned in the docs under the triggers page, but please do add the link here too.

[2018-10-08 19:54] rgee0 opened #80 "Add additional CLI YAML attributes to reference section"
Currently the YAML section at https://docs.openfaas.com/reference/yaml/ is fairly complete, however it misses some of the more recent features:

- build_options
- readonly_root_filesystem
- skip_build

[2018-10-08 19:54] rgee0 commented on #80
Derek add label: Enhancement

[2018-10-19 12:15] alexellis opened #85 "Docs - SSL for Swarm using Traefik"
We have an SSL page for Kubernetes now but we should create one for Swarm - the simplest method I've used so far is Traefik which also provisions certificates using LetsEncrypt.

This is my example which I'm happy to donate to the documentation site: https://gist.github.com/alexellis/aad27285c099ed0878373569c0cdd567

[2018-10-20 13:09] johnmccabe opened #87 "Add PHP7 to templates"
Update https://docs.openfaas.com/cli/templates/ to add the new PHP7 template.

[2018-10-20 14:46] johnmccabe commented on #87
Derek assign me

[2018-10-20 14:47] johnmccabe commented on #87
Derek assign: me

[2018-11-28 07:33] martindekov opened #92 "faas-cli: Document the new template store command"
Opening this PR so it shows what the PR which I will open will contain

Extend the CLI part of the docs to describe:

* The constants which we use to set custom stores (template, function)

* Add explanation what the `template store` command is and how to use it

[2018-12-08 08:58] LucasRoesler opened #95 "Document the gateway and function metrics"
The gateway currently exposes prometheus metrics that users may be interested in.  We should document these metrics and perhaps some of the common queries they would want to use.

[2018-12-10 04:22] burtonr opened #97 "Troubleshooting page updates or FAQ page"
The toubleshooting guide has grown quite large, nearly 500 lines now. That's not a bad thing, but I believe it should be re-organized to make it easier to navigate. It's also a bit difficult to see the different headings on the docs page. Difference between `##` and `###` are very slight.

Currently, the topics are focused on how to do something:
* Timeouts
* Healthcheck
* Watchdog

These are usef

[2018-12-10 08:34] LucasRoesler commented on #97
So far most of the proposed questions seem more like FAQ or User Guide/Examples.  I am thinking of the docs for the nginx ingress as an example https://kubernetes.github.io/ingress-nginx/examples/

I like the idea of having a FAQ and separating it from Troubleshooting.

Reviewing the current troubleshooting page, it seems like some of those topics really should be References or would be better ans

[2018-12-11 15:42] ivanayov opened #98 "Add docs from the workshop that are missing here"
There was an issue with question for separating stdout/stderr. There is information how to do this in the workshop, but not in the docs.

There could be other things missing as well.
This needs going trough the workshop and checking if everything is available.

[2018-12-14 22:54] #95 closed

[2018-12-14 22:58] #92 closed

[2018-12-14 23:00] alexellis commented on #85
Bumping for @LucasRoesler

[2018-12-14 23:01] alexellis commented on #80
Bumping for @rgee0 / @martindekov or @LucasRoesler

[2018-12-14 23:01] alexellis commented on #38
@rgee0 please can you review this issue / progress and if necessary find someone to pick it up?

[2018-12-14 23:02] alexellis commented on #9
@johnmccabe would you like to put this together?

[2018-12-16 13:11] LucasRoesler commented on #80
Derek assign: me

[2018-12-19 17:44] LucasRoesler opened #101 "Document how to deploy with HA NATS deployments"
Production deployments of OpenFaaS should use an HA and Durable NATS installation to provide better stability.  We should document how to install OpenFaaS and supporting an HA NATS cluster.

[2018-12-20 20:41] rgee0 opened #102 "Document HMAC signing"
`--sign` and `--key` were introduced in openfaas/faas-cli#530.

These should be described, perhaps in an invoke section, under the CLI

[2018-12-20 20:48] #38 closed

[2018-12-20 20:50] alexellis commented on #101
Email from Wally from the NATS team / Apcera:

[code]

[2018-12-20 20:52] #80 closed

[2018-12-21 20:44] alexellis opened #106 "Mention ARM deployment method"
## Proposed change

We should mention ARM deployment methods for Swarm and Kubernetes and the need to use `-armhf` templates. cc @tdicola of Adafruit

## Context

Ref #105

I'll close the PR that was raised and we'll use this issue to track the two changes needed for new users. We should also highlight the two blog posts.

[2018-12-21 21:10] #106 closed

[2019-01-10 16:28] alexellis opened #110 "Document faas-cli secrets feature"
## Proposed change

Document `faas-cli secrets` feature

Put this under the CLI heading and cover all the new verbs: create/update/remove and list.

## Context

We're adding the feature as proposed here: https://github.com/openfaas/faas/issues/807 https://github.com/openfaas/faas-cli/issues/577

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

This should say that

[2019-01-11 17:39] #110 closed

[2019-01-11 22:39] #73 closed

[2019-01-11 22:40] alexellis commented on #102
@rgee0 what is the status of this issue?

[2019-01-13 11:13] rgee0 commented on #102
@alexellis the issue is currently open.  A lot of the detail could be lifted from the [workshop](https://github.com/openfaas/workshop/blob/401cdc27cc9945839b9021c6a3a72267f7ca4cac/lab11.md) and made to be more documentation-like.

A possible candidate for a new-contributor.

[2019-01-16 10:21] alexellis opened #114 "Add instructions for forking/cloning and raising a PR for Go code"
## Proposed change

On the getting started doc, write a complete worked example for cloning/forking and raising a PR with Go code. https://docs.openfaas.com/contributing/get-started/

Detail flow with example commands for one of the repos:

- Find issue
- Ask to work on it
- Fork repo
- Clone original repo
- Add new remote side
- Make a change
- Test it
- Sign-off commit
- Push to remote
- Raise P

[2019-01-17 15:17] diddledan opened #115 "ACME (letsencryt) API is version 02 now"
## Proposed change
The letsencrypt documentation at `docs/docs/reference/ssl/kubernetes-with-cert-manager.md` has the API version of acme set at `01`. This needs to be updated to `02` for futureproofing.

## Context
When you run `kubectl -n openfaas describe issuer/letsencrypt-prod` you receive the following message:

[code]

## Your Environment
* FaaS-CLI version ( Full output from: `faas-cli ver

[2019-01-17 16:24] diddledan opened #116 "SSL docs create an Issuer but tries to use it as a ClusterIssuer"
## Proposed change
Currently in the docs for SSL on kubernetes there is an example code block for a letsencrypt issuer that is specified as an `Issuer` type. These are confined within a specific namespace where a `ClusterIssuer` would be global. This is then contradicted by the certificate entry that tries to bind to a `ClusterIssuer` of the same name, which fails.

Specifically the types `Issuer`

[2019-01-19 22:19] LucasRoesler opened #118 "Broken link from kubernetes setup to the ssl guide"
On https://docs.openfaas.com/deployment/kubernetes/#deploy-with-ssl the link `Using nginx-ingress and cert-manager` is a dead link because it points to  `https://docs.openfaas.com/reference/ssl/kubernetes-with-cert-manager.md`
## Proposed change

Update the link `Using nginx-ingress and cert-manager` to point to  `https://docs.openfaas.com/reference/ssl/kubernetes-with-cert-manager/`

## Context

[2019-01-20 09:13] #118 closed

[2019-01-20 09:13] LucasRoesler commented on #118
The docs seem to suggest that it can https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages handle these links

[2019-01-20 09:14] alexellis commented on #118
What did we get wrong? I was squinting to see a typo

[2019-01-22 17:39] LucasRoesler commented on #115
I think we should update it, it should just be a matter of incrementing and testing it.

[2019-01-22 17:44] alexellis commented on #115
Daniel can you take this please?

[2019-01-22 19:41] diddledan commented on #115
Yup, I'll get this into a PR shortly :-)

[2019-01-22 20:00] #115 closed

[2019-01-29 10:12] alexellis opened #124 "List vcenter-connector project"
## Proposed change

List vcenter-connector project

Here -> https://docs.openfaas.com/contributing/get-started/#openfaas-incubator

https://github.com/openfaas-incubator/vcenter-connector

Use the repo title as the text in the table.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you u

[2019-01-29 10:31] #124 closed

[2019-01-29 21:42] l31g opened #127 "Typo at docs/contributing/get-started.md"
Typo in docs/contributing/get-started.md at line 44. "representive" --> "representative"

[2019-02-25 08:42] #116 closed

[2019-03-05 17:49] ivanayov commented on #127
Derek close

[2019-03-05 17:49] #127 closed

[2019-03-09 15:22] burtonr opened #134 "Label file reference code blocks with title"
## Proposed change

Update the code blocks that reference a file with formatting that adds a label to the code block for better clarity. Easier to see it's a file, and not a command/output

**example**
![Screenshot from 2019-03-08 21-24-11](https://user-images.githubusercontent.com/12687192/54073383-075d1800-424c-11e9-918d-ca2b1ba2b44f.png)

To accomplish this, we would add the following markdown

[2019-03-11 09:45] LucasRoesler opened #136 "Document exposing the gateway on a different port"
## Proposed change

The docs should show developers how to change the public port of the gateway. In both swarm and k8s this is not very complicated.  We should warn users about exposing it publically, but for developers testing OpenFaaS they might have port conflicts on their local systems.

The docs should identify use cases and which files would need to be modified.

## Context

Several users h

[2019-03-11 09:48] LucasRoesler opened #137 "Document how to support opentracing in functions"
## Proposed change

We should discuss and hint at how to support opentracing or tracing in general for functions.  This is not about tracing the internals of OpenFaaS but supporting developers to add tracing to their functions.

## Context

This has been asked about several times in Slack and also here https://github.com/openfaas/faas-netes/issues/272

[2019-03-11 12:01] alexellis commented on #136
Want to `/add label: help wanted` or assign?

[2019-03-11 12:06] LucasRoesler commented on #136
/add label: help wanted

[2019-03-11 12:47] alexellis commented on #136
I don't agree, this is very complicated for Kubernetes and I've seen had anyone ask for that target platform.

I'd see this as only covering Swarm and docker-compose.yml.

[2019-03-14 20:34] rgee0 commented on #97
I think the two views already stated here have pretty much covered it.

One additional point I would make is around the language used in the FAQ's.  We should try to build in sufficient redundant language to make the search function effective.  As an example consider the following question:

Q: How do I retrieve my password?
A: Exec into the container and run ...etc.

The issue here is that users

[2019-03-15 09:20] LucasRoesler commented on #97
@rgee0 i like this idea, make it easier for people find exact phrases that might match their situation, definitely more usable and friendly.  I often use `Find in Page` when I first get to an FAQ to jump around very quickly to the relevant parts

[2019-04-14 08:32] LucasRoesler opened #146 "Fix cert-manager installation instructions"
## Proposed change

Update the cert-manager install instructions to match the last instructions from the cert-manager project.

## Context

The current installation breaks with the following error message

[code]

because there were breaking changes from version 0.5 to 0.6 and to 0.7.  This was reported in slack and the upstream issue is here https://github.com/jetstack/cert-manager/issues/1255  P

[2019-04-14 08:54] #146 closed

[2019-05-06 18:33] alexellis commented on #136
@LucasRoesler can you go ahead and pick this up between now and KubeCon, but only for Swarm?

If we start to see users how to change their ingress controllers, then I would be happy to cover that at a later date.

[2019-05-12 21:25] ivoreis opened #150 "Typo Add TLS to openfaas"
## Proposed change

The [Add TLS to openfaas](https://docs.openfaas.com/reference/ssl/kubernetes-with-cert-manager/#add-tls-to-openfaas) script contains a nested ingress entry. The correct script template should be:

[code]

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docke

[2019-05-17 09:22] alexellis opened #152 "Add ToC page on Service mesh"
## Proposed change

Add ToC page on Service mesh

## Context

Include direct links to the work of @stefanprodan and @matipan

https://github.com/stefanprodan/istio-gke

https://github.com/openfaas-incubator/openfaas-linkerd2

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or

[2019-05-17 09:23] alexellis commented on #152
How about adding this under Tutorials -> Featured? We can also add a very brief note on what adding this tech may add. For instance mTLS with Linkerd2

[2019-05-17 12:25] matipan commented on #152
On it

[2019-05-24 19:59] alexellis commented on #137
Ping @LucasRoesler

[2019-06-02 07:27] #152 closed

[2019-06-13 19:53] alexellis opened #158 "Split repos page out from contribution page"
## Proposed change

On page https://docs.openfaas.com/contributing/get-started/

Split out the list of repos into its own page and ToC entry.

## Context

![Screenshot 2019-06-13 at 20 52 35](https://user-images.githubusercontent.com/6358735/59463167-425b8280-8e1d-11e9-859b-304d526c06e8.png)

The page is too long and may be overwhelming to new people.

~Also - please change the www repo to openfaa

[2019-07-01 08:23] alexellis opened #160 "Remove Certificate step from SSL page?"
## Proposed change

We may be able to remove the additional `create Certificate` step from SSL page.. https://docs.openfaas.com/reference/ssl/kubernetes-with-cert-manager/

## Context

It seems like cert-manager's Ingress shim (available since 0.2.2) automatically creates certificates if an Ingress object is decorated appropriately. This is simpler than us instructing the user to create a separate

[2019-07-01 08:46] LucasRoesler commented on #160
I think we should remove it, but make sure to add a callout in the docs that this only "works for cert-manager 0.2.2+ when ingress-shim is installed, the default configuration." Or some other similar wording.

[2019-07-01 09:31] alexellis commented on #160
Whilst I appreciate the caution, we currently tell people to use cert-manager is at 0.7.0, so I don't think the notice is needed (for that reason).

[2019-07-02 14:06] ivanayov opened #161 "Add token to faas-cli docs"
`faas-cli` supports `--token` flag since [#faas-cli/pull/649](https://github.com/openfaas/faas-cli/pull/649) which is missing in the CLI docs

[2019-07-02 16:40] alexellis commented on #161
Good catch Ivana

Please can you share which commands are missing it?

[2019-07-06 11:05] alexellis opened #162 "Document faas-cli logs command"
## Proposed change

`faas-cli logs` needs to be documented

## Context

This feature is being added by @LucasRoesler and it provides server-side logs from the kubelet or Docker Swarm.

[2019-07-06 11:10] alexellis commented on #161
@viveksyngh please could you pick this up?

[2019-07-06 14:12] viveksyngh commented on #161
Yup I will work on this.

[2019-07-07 14:07] viveksyngh commented on #161
we already mentioned about the `--token` flag on the oauth section https://docs.openfaas.com/reference/authentication/ .. do we need to mention inside CLI section separately ?

[2019-07-07 14:08] alexellis commented on #161
I don't know. Ivana since you mentioned this, wdyt?

[2019-07-23 07:32] alexellis commented on #146
Thanks @LucasRoesler

[2019-07-31 13:46] #162 closed

[2019-08-13 07:02] alexellis opened #165 "Update to cert-manager 0.8.0 for SSL page"
## Proposed change

Update to cert-manager 0.8.0

Full end to end testing will be required.

Be careful to see all the upgrade notes: https://docs.cert-manager.io/en/latest/tasks/upgrading/upgrading-0.7-0.8.html

## Context

I had an email from LetsEncrypt saying that versions < 0.8.0 will be deprecated and blocked by LetsEncrypt from November.

Here is the web version: https://community.letsencry

[2019-08-22 16:47] alexellis commented on #165
Some folks at Rancher ran into a few issues, to be noted: https://github.com/jetstack/cert-manager/issues/1983

[2019-08-22 18:33] rajibmitra commented on #165
I would love to work on this if not done already by this above commit.

[2019-08-22 18:50] alexellis commented on #165
Also needed for OpenFaaS Cloud - https://github.com/openfaas-incubator/ofc-bootstrap/issues/122

[2019-08-26 06:28] robmarkcole opened #167 "404 on some links"
Hi
I am finding that many of the links in the docs are 404, e.g. https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

[2019-08-27 05:16] robmarkcole commented on #167
* From [here](https://docs.openfaas.com/deployment/docker-swarm/) -> https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

[2019-08-27 10:37] #167 closed

[2019-09-01 21:50] matipan commented on #165
Derek assign: me

[2019-09-06 12:43] #165 closed

[2019-09-06 12:43] alexellis commented on #165
Thanks for the assist @rajibmitra, we needed slightly more changes and have been able to chase the latest version 0.10.0 - please all take a look at the patch.

This was too urgent to leave unattended.

Alex

[2019-09-24 08:52] alexellis opened #173 "Tutorial extension - HPA with custom metrics"
## Proposed change

This would be an extension to [the tutorial I wrote on HPA with CPU/memory](https://docs.openfaas.com/tutorials/kubernetes-hpa/), but showing how to use custom metrics instead. i.e. those exposed by the [watchdog here](https://docs.openfaas.com/architecture/metrics/#watchdog)

## Context

With this, users will be able to scale on:

* RPS (default)
* HPAv2 with CPU/memory (docs

[2019-09-29 02:38] Miserlou opened #175 "async with callback url example doesn't work"
The command listed says:

[code]

but this just causes:

[code]

It needs a `-H` for headers in `curl`, so it should say:

[code]

However, this still doesn't seem to actually work as intended, although the curl command works at least.

[2019-09-30 13:18] viveksyngh commented on #175
Yes, that is right, looks like `-H` is missing in docs instructions.

If `-H` your are passing `X-Callback-Url: http://localhost:8888` that will not work I guess because there will be nothing inside the `queue-worker` container running on port `8888` or I am missing something ?

[2019-10-01 02:02] Miserlou commented on #175
I didn't work for me using a PostBin. Do I need to open another port or configure something else to let requests from my local dev stack access the outside internet?

[2019-10-01 07:30] alexellis commented on #175
Hi Rich, you cannot use `localhost` within a container because that points at the container's own network. A container is for all intents and purposes isolated.

AFAIK the callback does work, but perhaps you are trying to use it in an unintended way?

I think the documentation change you proposed looks fine though.

For more on async see: https://github.com/openfaas/workshop/blob/master/lab7.md

[2019-10-01 08:21] viveksyngh commented on #175
@Miserlou if you can share some details on what URL you tried and what are the versions of deployed component ? That can help us in reproducing the issue.

[2019-10-01 17:00] rzr opened #178 "Track and fix dead links (meta)"
It could help to avoid 404 errors

Relate-to: https://github.com/openfaas/docs/pull/177

[2019-10-01 20:09] rgee0 commented on #150
Closing as fixed in https://github.com/openfaas/docs/pull/151 with closure keywords omitted

[2019-10-01 20:09] #150 closed

[2019-10-01 20:12] rgee0 commented on #134
Closing - tried under https://github.com/openfaas/docs/pull/138.

[2019-10-01 20:12] #134 closed

[2019-10-01 21:15] #44 closed

[2019-10-01 21:21] rgee0 commented on #114
Since [Get Started](https://docs.openfaas.com/contributing/get-started/) has [been split out](https://github.com/openfaas/docs/pull/179) for being too long, should the response to this issue form the basis of content for a new page under Contributing?

Maybe a third menu item called 'My First PR'?

**Contributing**
* Get Started
* Main Repositories
* My First PR

[2019-10-04 16:09] jonatasbaldin commented on #114
Agree with @rgee0 :)

[2019-10-04 16:11] jonatasbaldin commented on #44
Also the copy button copies the whole block, including the output.

One nice way would be to have a copy button that strips the `$` off and the output, but I think it's just a nice to have 😅

[2019-10-05 14:15] beriberikix opened #182 "Typo on TLS troubleshooting for OFC"
On [Issues with TLS](https://docs.openfaas.com/openfaas-cloud/self-hosted/troubleshoot/#issues-with-tls) the code blocks are incorrectly formatted. Just a few spaces need to be added to the backticks, as shown [here](https://github.com/openfaas/docs/pull/181/commits/b443a9e6a27aadde7bed6e67c6b38c0fd776e674).
<img width="483" alt="Screen Shot 2019-10-05 at 7 13 56 AM" src="https://user-images.githu

[2019-10-05 14:27] alexellis commented on #182
Thanks, I'll take a look at this. Just let me know which files are affected.

[2019-10-05 14:37] beriberikix commented on #182
Great! Just this one: https://github.com/openfaas/docs/blob/master/docs/openfaas-cloud/self-hosted/troubleshoot.md

[2019-10-05 17:43] #182 closed

[2019-10-06 16:52] blaisep commented on #137
Hi @alexellis , @LucasRoesler , I'm just starting to look into the matter of observability in OpenFAAS, and I'm noticing the need for a pattern that {converges, includes, associates} metrics, logs and tracing. I think this will be particularly helpful in the context of OpenFAAS cloud, which introduces Tenancy and Accounting as additional dimensions.

[2019-10-08 16:25] #158 closed

[2019-10-25 09:35] alexellis opened #185 "Update docs to use cert-manager 0.11.0"
## Proposed change

Update docs to use cert-manager 0.11.0 to keep up to date.

https://docs.cert-manager.io/en/release-0.11/

## Context

This version has breaking changes in the annotations used and how issuers work.

## Your Environment

Kubernetes 1.15 / 1.16

See how with [Upgrading from v0.10 to v0.11](https://docs.cert-manager.io/en/release-0.11/tasks/upgrading/upgrading-0.10-0.11.html)

[2019-10-25 09:42] Waterdrips commented on #185
Ill take a look at this.

[2019-10-25 15:04] #185 closed

[2019-10-25 15:07] alexellis commented on #178
Sure, how do you think we should do it?

[2019-10-25 15:07] #175 closed

[2019-10-25 15:08] alexellis commented on #175
Closing due to inactivity - at 25 days.

[2019-10-25 15:26] rzr commented on #178
With a crawler ?

Using https://www.drlinkcheck.com

I was able to identify:

404 Not found | https://www.openfaas.com/community/OutboundLinked from: https://docs.openfaas.com/community/

This HTML url

   <link rel="canonical" href="https://www.openfaas.com/community/">

I guess a rewrite is missing somewhere ?

[2019-10-25 15:31] alexellis commented on #178
The site gave 6 404s, but as far as I can see, they aren't broken. Feel free to check them out and send PRs if you can see broken ones.

[2020-01-19 21:28] yehoshuadimarsky opened #203 "Clarify required structure of the 'handler'"
## Proposed change

As a newcomer to OpenFaaS, I'm surprised how difficult it is to find an answer to a very simple and core question - what are the minimum requirements for the code that goes in the `handler` argument in the YAML?

All I see in the docs is that it must be a folder, not a file. Ok. And then it gives examples in Python, Node, etc. Great. But what about for other languages I'm worki

[2020-01-19 21:35] #203 closed

[2020-01-19 21:36] alexellis commented on #203
Hi, thanks for your feedback, we'll take a look into this.

For technical support, please feel free to use Slack and general Q&A. https://slack.openfaas.io/

[2020-01-19 21:42] alexellis commented on #203
If your primary use-case is C#, then please feel free to check out the source code for the template you are using.

For triggers, see the docs page on events and triggers -> https://docs.openfaas.com/reference/triggers/

For the other templates available in the Function Store, try `faas-cli store list`, note that not all of the templates are provided by the project.

Some more notes on templates f

[2020-01-19 21:46] alexellis commented on #203
[code]

The handler field is documented here, https://docs.openfaas.com/reference/yaml/#function-handler

[code]

You'll need to be more specific about what you're looking for so, that we can point you at the right resource, as I mentioned before, Slack is the best resource for this kind of technical support, Slack and the workshop.

[code]

No it's not true. Look up the docs on the watchdog, and

[2020-01-19 23:59] yehoshuadimarsky commented on #203
Thanks for your help, and especially the fast responses. Out of curiosity, why do you prefer having these discussions in a closed forum like Slack vs. an open forum like GitHub? If they are open, then users can search for them and you won't have to repeat yourself, among other benefits.

Much of this idea comes from http://matthewrocklin.com/blog/2019/02/28/slack-github, but I wholeheartedly agree

[2020-01-23 02:33] tullo opened #205 "Broken link from troubleshooting.md to async functions"
The link in ` /deployment/troubleshooting.md`

Needs to be updated from:
`See also: [Reference: Asynchronous Functions](/reference/async)`
to:
`See also: [Reference: Asynchronous Functions](/docs/reference/async.md)`

[2020-01-23 09:29] alexellis commented on #205
Thank you. Would you like to send a PR? Make sure you do it via the CLI and sign off the commit with git commit -s, thanks

[2020-01-23 12:58] tullo commented on #205
Okay, will do so

[2020-01-23 15:20] #205 closed

[2020-01-24 14:57] tullo commented on #205
Sorry @alexellis for bothering you again, but I just realized that the generated docs now have a failing link b/c of my pull request. So please rollback the merge again!

Somehow I did not see that I was supposed to test my changes with `docker run --rm -it -p 8000:8000 -v $(pwd):/docs squidfunk/mkdocs-material`

The change was a result from me following allong Lab7 and hitting the link which poin

[2020-01-24 15:51] alexellis commented on #205
I can't roll back, but you can send a PR to revert it. Please do test your changes properly next time as I took this on trust. Thanks 👍

[2020-01-25 01:03] mducharm opened #209 "Typo at docs/deployment/troubleshooting.md"
Found a typo, first sentence under Chaining / Workflows [has chaning instead of chaining](https://docs.openfaas.com/deployment/troubleshooting/#chaining-workflows).

[2020-03-12 09:11] alexellis commented on #209
@viveksyngh please can you fix?

[2020-03-12 09:11] #161 closed

[2020-03-12 09:12] alexellis commented on #161
Closing because of @viveksyngh's comment

[2020-03-12 09:12] #102 closed

[2020-03-12 10:41] viveksyngh commented on #209
Derek assign: me

[2020-03-12 12:14] #209 closed

[2020-03-26 14:15] sairam opened #219 "Fix typo"
RFC8601 is spelled as RCF8601 in https://docs.openfaas.com/cli/logs/

[2020-03-28 11:40] HrithikKumar49 commented on #219
Can I take up this task?

[2020-04-21 14:11] john-g-g opened #220 "Fix typo in secrets example"
The secrets example proposes a `test1234` as the value of `api-key` but in the example is uses `1234` as the value.
## Proposed change

Change the value in the example to `test1234`

## Context

Briefly confusion before concluding it was a typo

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you us

[2020-04-24 15:31] #173 closed

[2020-05-01 13:17] alexellis opened #225 "Document new max_inflight behaviour for NATS queue worker (async reference page)"
## Proposed change

Document new max_inflight behaviour for NATS queue worker (async reference page)

## Context

After https://github.com/openfaas/nats-queue-worker/pull/95 was merged, we need to update the documentation to explain that A) concurrency can now be controlled via this env-var and B) HA can be controlled by replicas.

We should also make the flag available in the [helm chart](https:/

[2020-05-01 15:58] matthiashanel commented on #225
@alexellis will do. the pr came with a suggested doc change. were. you ok with that?

[2020-05-01 15:58] matthiashanel commented on #225
Basically adding:
Alternatively you can increase the parallelism by setting "max_inflight" to a value greater than one. This will cause the queue-worker to concurrently receive up to max_inflight many messages and simultaneously invoke their corresponding functions. Should you wish to restrict concurrent invocation for certain functions, please make use of the queue feature and separate these from

[2020-05-12 12:28] #225 closed

[2020-06-15 18:47] martindekov opened #228 "Better description of logging in python flask templates"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Python based templates which use flask doesn't "just work" when it comes to logging. The general:
[code]
in the environmental variables flag doesn't efficiently ena

[2020-06-16 11:32] martindekov commented on #228
I remember we had a discussion in slack what is the best approach for this. I am wondering did we reach a conclusion? I will go through logging in flask templates again just in case

[2020-07-16 08:12] alexellis opened #231 "Document Profiles feature"
## Proposed change

The Profiles feature needs to be written up for new-users to make use of it. This could be in the Reference section, and linked from the Production page.

## Context

Cover:

* Quick setup instructions for anything needed in helm along with an example of tolerations

Then show example profiles for:
* Runtime class for gvisor
* Command to taint a node-pool and then to tolerate v

[2020-07-16 08:12] alexellis commented on #231
This should cover the happy path - other thoughts and suggestions are welcome

[2020-07-16 08:18] alexellis commented on #231
Examples are available from this PR -> https://github.com/openfaas/faas-netes/pull/646

[2020-08-01 14:38] #231 closed

[2020-09-02 06:12] noam09 opened #237 "Double word in logs.md"
## Proposed change

In the following documentation article:
https://github.com/openfaas/docs/blob/master/docs/cli/logs.md

Change this:
`OpenFaaS only wraps wraps the existing`

To this:
`OpenFaaS only wraps the existing`

[2020-09-19 21:41] charliesolomon opened #244 "Docs: Updates to kubernetes with cert-manager install guide"
## My actions before raising this issue
- [X] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [X] Read/searched [the docs](https://docs.openfaas.com/)
- [X] Searched [past issues](/issues)

The install guide for openfaas on kubernetes with cert-manager could be refreshed.
Docs published here: https://docs.openfaas.com/reference/ssl/kubernetes-with-cert

[2020-09-24 14:59] noam09 commented on #237
Also, the [Troubleshooting](https://github.com/openfaas/docs/blob/master/docs/deployment/troubleshooting.md) page references an [environment variable](https://github.com/openfaas/faas/blob/b019f6ca54700599a52110c281c67073c2219bdf/watchdog/readconfig.go#L70) which has [changed](https://github.com/openfaas/workshop/commit/3c447ef8f5875baf865bcaf305bc46f1ee25640d):
Change this:
`hard_timeout`
To this

[2020-10-07 05:09] aboyett opened #240 "Typo in docs/reference/async.md"
The Parallelism section of the Async documentation currently contains "Should you wish to restrict concurrenty for certain functions". Concurrenty is not a word.

## Proposed change

The word `concurrenty` should be changed to `concurrency`.
[code]

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):
N/A

* Docker version `docker version` (e.g. Docker 17.0

[2020-10-07 12:44] alexellis commented on #240
Thanks for spotting that. @viveksyngh could you take this please?

[2020-10-13 10:47] arthurlogilab opened #242 "[docker-compose] mention ipv6 for localhost problem"
## Proposed change

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

* Please also follow the [troubleshooting gu

[2020-10-24 16:24] kevin-lindsay-1 opened #243 "Multiple queue guide uses kubectl --export, which is deprecated"
## What would you like to let us know?

What's wrong?

* [ ] I found a typo
* [ ] An update required to an old post
* [x] I'm stuck with a tutorial

Let us know more below:

https://docs.openfaas.com/reference/async/#multiple-queues

The example command shows `kubectl get --export`, which is deprecated.

A good alternative way to easily create new queue workers seems to be necessary now.

## Do yo

[2020-10-24 18:59] alexellis commented on #243
I'll move this to the correct repo, and feel free to send a PR, but bear in mind that not everyone is using K8s 1.19 in production yet.

[2020-10-24 19:10] kevin-lindsay-1 commented on #243
Yeah I'm thinking of the best approach, because it's less than ideal to grab yaml out of stuff that's running in kube like that, ideally I'd say that multiple queues should be configured via helm for faas-netes, but I'm not sure what that contract would look like for the other non-kube implementations.

As an aside, do you know of a good way to monitor individual queues, and what they're waiting o

[2020-10-24 19:42] alexellis commented on #243
What you need to do is to run something like `--dry-run client -o yaml` - I covered this in my webinar on K8s 1.19 a couple of weeks ago.

PRs to the docs are welcome, but please read the contributing guide and get your DCO right the first time if possible.

Open to suggestions on multiple queues, this is slightly less important now that we can have massive concurrency - 100+ go routines all proce

[2020-10-26 23:05] charliesolomon commented on #244
My first PR ^^^
I followed the contributing guide... let me know if I botched anything please.
These docs could be simplified using "arkade install"... if that's desirable, let me know I'm happy to test that out and update these again.

[2020-10-28 16:02] #244 closed

[2020-10-28 16:06] alexellis commented on #243
@kevin-lindsay-1 would you be open to sending a PR?

[2020-10-29 17:59] kevin-lindsay-1 commented on #243
@alexellis looked into this, there really isn't a fantastic alternative to `--export` for imperative duplication like this now, which I suppose is for the best. Realistically I agree with you that multiple queues shouldn't be necessary long-term, but there's a few missing components as it pertains to how single-queue works right now, mainly `ackWait` being defined by the queue-worker, and not the

[2020-12-18 23:25] xueli-daisy opened #250 "Metric 'gateway_service_count' type should be gauge not counter"
From Prometheus metric type: https://prometheus.io/docs/concepts/metric_types/, I know that a **counter** is a cumulative metric that represents a single monotonically increasing counter whose value can only increase or be reset to zero on restart. A **gauge** is a metric that represents a single numerical value that can arbitrarily go up and down.

**Behavior**:
I can saw the value of 'gateway_se

[2021-02-10 13:48] lucaskim1233 opened #254 "Typo in Workloads docs."
There is a typo in the document [Workloads](https://docs.openfaas.com/reference/workloads/#custom-service-account).

## Expected Behaviour
using instead of usng

## Current Behaviour
usng

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker

[2021-02-10 15:27] alexellis commented on #254
Thanks, just fixed that now.

[2021-02-11 08:55] #254 closed

[2021-05-05 20:49] alexellis commented on #250
This seems like a fair description of events. Thanks for letting us know that we have a metric called a count which is actually used like a gauge.

Out of interest are you wanting to send a PR for this?

Is there a chance that it could break compatibility?

Alex

[2021-06-06 10:13] irbekrm opened #266 "Update 'TLS on Kubernetes' guide"
## Proposed change

Thanks for the great 'TLS on Kubernetes'  guide https://docs.openfaas.com/reference/ssl/kubernetes-with-cert-manager/#tls-on-kubernetes!
Could it be updated to use the latest version of `cert-manager` and `v1` `cert-manager` API?

## Context

`cert-manager` `v0.11` referred to by the guide is [no longer supported](https://cert-manager.io/docs/installation/supported-releases/) a

[2021-08-02 10:54] #266 closed

[2021-09-06 09:28] alexellis opened #269 "Replace "dep" instructions with Go modules and vendoring"
## Proposed change

Replace "dep" instructions with Go modules and vendoring since we no longer support or recommend dep.

## Context

This is out of date.

https://github.com/openfaas/docs/blob/2682e36535ceef7deee77f0373eeae9518aa87e7/docs/cli/templates.md

[2021-09-08 16:35] alexellis commented on #269
https://docs.openfaas.com/cli/templates/#go-templates

[2021-09-08 17:11] alexellis commented on #269
@LucasRoesler it looks like your changes to the [README here](https://github.com/openfaas/golang-http-template) could be used to help with this. Thanks for volunteering to take this.

[2021-10-06 16:16] #269 closed

[2021-10-19 19:41] kevin-lindsay-1 commented on #243
Closing this issue in favor of https://github.com/openfaas/nats-queue-worker/issues/113, which would prevent the need from imperatively fetching an existing queue worker and creating a new one.

For others that may see this issue and would like to create their own queue worker, instead of exporting a live queue worker, I recommend simply making your own chart by looking at the queue worker in the

[2021-10-19 19:41] #243 closed

[2021-11-03 17:38] alexellis commented on #137
I'd be interested in seeing you write up a short tutorial using Tempo. What do you think?

[2021-11-06 11:47] LucasRoesler opened #272 "Document how to use namespaces with faasd"
## Proposed change

We should extend this page https://docs.openfaas.com/reference/namespaces/  to include two sections, one for faas-netes and one for faasd.

The faasd section needs to include instructions for how to create a new namespace, basically just this snippet

[code]

## Context

I realized that we had no documentation for namespace in faasd because i was trying to test something locall

[2021-11-06 12:22] LucasRoesler commented on #272
This should also document how to disable a namespace, currently this is the correct command

[code]

It might also be nice to have some instructions on how to correctly delete a namespace

[2021-11-29 10:03] 108356037 commented on #228
Hi, is there any news on enabling logging in python http template? I've set the write_debug env to true, but only getting container logs like below:

_2021-11-29T09:56:00Z 2021/11/29 09:56:00 POST / - 200 OK - ContentLength: 17
2021-11-29T09:57:00Z 2021/11/29 09:57:00 POST / - 200 OK - ContentLength: 17
2021-11-29T09:58:00Z 2021/11/29 09:58:00 POST / - 200 OK - ContentLength: 17
2021-11-29T09:59:0

[2022-02-18 14:52] clxseizetheday opened #276 "Querying the auto-scaling formula"
hello guys,
I am reading the document about the autoscaling of OpenFaas. In the chapter 'Autoscaling', [https://docs.openfaas.com/architecture/autoscaling/#how-auto-scaling-works](url) it gives a formula about the strategy of calculating the desire replics amount.

it says `desired = current replicas * (current load / (target load per replica * current replicas))`
however, the first `current repli

[2022-02-18 15:14] clxseizetheday commented on #276
In fact, if I cancel out the two `current replicas` in the formula, it will turn into `desired = current load / target load per replica`.
This new formula is easy to understand. In my opinion, current load will not change before and after the sacling, so just devide `target load per replica` by `current load` and then you get the desired replics, right? How does `current replicas` influence the or

[2022-02-18 15:15] clxseizetheday commented on #276
In fact, if I cancel out the two `current replicas` in the formula, it will turn into `desired = current load / target load per replica`.
This new formula is easy to understand. In my opinion, current load will not change before and after the sacling, so just devide `target load per replica` by `current load` and then you get the desired replics, right? How does `current replicas` influence the or

[2022-02-19 11:30] LucasRoesler commented on #276
@alexellis  I think it might be best for you to comment here, given your recent work on scaling

[2022-02-23 22:47] zr-msft opened #277 "Deployment guide for Kubernetes missing steps cited in intro"
The [Deployment guide for Kubernetes](https://docs.openfaas.com/deployment/kubernetes) calls out the following in [this section](https://docs.openfaas.com/deployment/kubernetes/#installing-openfaas-overview):

After [Deploy OpenFaaS using arkade or Helm](https://docs.openfaas.com/deployment/kubernetes/#3-gitops-tooling), the next section is on training, skipping the last three steps.

## Proposed

[2022-02-24 23:46] jedichen121 opened #278 "Documents for building openfaas from source?"
I'm looking for instructions for how to build openfaas from source for research purposes. I looked through openfaas documentations and couldn't find any. There's only a pointer to building faas-cli from source.

## Proposed change

It will be great if there can be instructions on how to configuring a Golang development environment and build different openfaas component from source code.

## Contex

[2022-02-24 23:47] jedichen121 opened #279 "Documents for building openfaas from source?"
I'm looking for instructions for how to build openfaas from source for research purposes. I looked through openfaas documentations and couldn't find any. There's only a pointer to building faas-cli from source.

## Proposed change

It will be great if there can be instructions on how to configuring a Golang development environment and build different openfaas component from source code.

## Contex

[2022-02-24 23:47] jedichen121 opened #280 "Documents for building openfaas from source?"
I'm looking for instructions for how to build openfaas from source for research purposes. I looked through openfaas documentations and couldn't find any. There's only a pointer to building faas-cli from source.

## Proposed change

It will be great if there can be instructions on how to configuring a Golang development environment and build different openfaas component from source code.

## Contex

[2022-02-25 12:15] #279 closed

[2022-02-25 12:17] alexellis commented on #279
I'm going to close this issue given that you haven't filled out the fill issue template or given sufficient context or information on what you're attempting to do.

Please see the notes on your first interaction with the community and how to make a good impression, https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#first-impressions---introducing-yourself-and-your-use-case

All code is p

[2022-02-25 12:18] alexellis commented on #278
Duplicate of #279

[2022-02-25 12:18] #278 closed

[2022-03-04 08:28] magick93 opened #282 "Arkade download link is incorrect"
## Proposed change
The link to download arkade is broken

## Context

See https://docs.openfaas.com/tutorials/local-kind-registry/#install-arkade

[2022-03-04 08:30] magick93 commented on #282
PR #281

[2022-04-13 09:48] #282 closed

[2022-04-13 09:49] alexellis commented on #282
Thanks for the report, our contribution guide states that for typos an issue is the best course of action. Case in point, we couldn't accept your PR due to the lack of sign-off.

[2022-05-13 08:34] welteki opened #286 "choas-fn command example from retries documentation fails."
## Proposed change

The second command for using the choas-fn described in the retries documentation fails.
<img width="706" alt="Screenshot 2022-05-13 at 10 21 58" src="https://user-images.githubusercontent.com/16267532/168242925-c9fd0024-3f55-4409-8955-e547228f1e08.png">

[code]
**option 1**:
Update the chaos-fn.yml in [alexellis/chaos-fn](https://github.com/alexellis/chaos-fn) to include:
[code

[2022-05-23 10:02] welteki opened #288 "Deploy example cmd in zero scale docs sets annotiation instead of label"
## Proposed change

<img width="705" alt="Screenshot 2022-05-23 at 11 33 26" src="https://user-images.githubusercontent.com/16267532/169795236-9b8fab5b-b74a-4fac-a959-0cbf01279466.png">
This should be set as a label and not an annotation.

 - Update command to use `--label` flag.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docke

[2022-05-24 09:11] #288 closed

[2022-05-24 09:12] alexellis commented on #288
Thank you Han. For these kinds of corrections I think we can skip the separate issue.

[2022-05-26 09:06] alexellis opened #292 "Update Function: Constraints for Kubernetes"
Update Function: Constraints for Kubernetes

## Proposed change

The current documentation page `yaml.md` contains instructions for OS constraints with Docker Swarm, which is no longer supported.

This needs to be removed, but ideally we should have the equivalent for Kubernetes, to match operating system or CPU architecture.

## Context

Potentially confusing for new users.

[2022-05-26 09:10] alexellis commented on #292
/add label: help wanted, good first issue

[2022-05-26 09:11] #286 closed

[2022-05-26 09:12] alexellis commented on #286
Thanks for the PR, in future if you add "Closes / Fixes: X" to your PR, it should close the linked issue for you.

[2022-05-26 09:13] alexellis commented on #280
Hi @jedichen121

What kinds of modifications did you want to make?

You're welcome to attend our weekly community call if you need support.

For building, we already provide Makefiles and Dockerfiles, along with several blog posts you can find on testing changes.

Regards,

Alex

[2022-05-26 09:13] #280 closed

[2022-05-26 09:22] alexellis commented on #276
The formula should match that of Kubernetes HPAv2:

https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details

[2022-05-26 09:22] alexellis commented on #276
/set title: Querying the auto-scaling formula

[2022-05-26 09:54] alexellis commented on #272
I've taken on the feedback and added this in a new sub-chapter in Serverless For Everyone Else, which is the official source for faasd documentation. Folks can also use the commands show above if they land here, or read the source code for faasd.

[2022-05-26 09:54] #272 closed

[2022-05-26 10:00] alexellis commented on #277
Seems fair. We have moved a lot of what you mentioned into the arkade CLI, so technically it's there and printed after installation or via `arkade info openfaas`

The free training also provides a much more comprehensive starting point.

[2022-05-26 11:44] #277 closed

[2022-06-17 12:32] RianM opened #293 "Typo in docs/reference/cron.md"
## Found 2 little typos/grammatical errors:

### Context:
#### Link:
https://github.com/openfaas/docs/blob/master/docs/reference/cron.md?plain=1#L62
#### Text:

### Description:

1. "cam" should be "can"
2. "schedule regularly function executions" should be "schedule regular function executions"

[2022-07-13 14:01] welteki commented on #293
Thanks for reporting this.

For future reference please just fill out the relevant fields in the provided issue template. A Pull Request is not necessary for typos.

[2022-07-18 13:50] #293 closed, assigned to nobody

[2022-07-31 16:14] sstamatiadis opened #302 "Broken link at Installing OpenFaaS (overview) section"
I found a broken link at [Installing OpenFaaS (overview)](https://docs.openfaas.com/deployment/kubernetes/#installing-openfaas-overview) under [Kubernetes Deployment guide](https://docs.openfaas.com/deployment/kubernetes/).

Link to line: https://github.com/openfaas/docs/blob/master/docs/deployment/kubernetes.md?plain=1#L11
Possible missing slash character.

## Proposed change
Repair broken link.

[2022-08-01 08:36] welteki commented on #302
Thanks for reporting this.

[2022-08-01 08:38] sstamatiadis commented on #302
It is my pleasure to contribute. :)

[2022-08-01 10:06] #302 closed

[2022-09-08 11:49] #219 closed